/*Display colour background*/

body{
  background-color: off-white;
}
.Sample{

  font-style: italic;
  font-family: sans-serif;
}
h2, h3{
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #0071e3;

}
/*Display text*/
.apple-title{
  text-align: center;
  color: #79C9D2;
  font-family: fantasy;
  font-size: 3em;
  line-height: 1.5;
}

.button{

  position: absolute;
  right:10px;
  color: black;
}

.container-fluid{
  padding: 7% 15%;
}

#title{
    background-color: white;
}



#testimonial{
  padding: 7% 15%;
  background-color: #A4D4EC;

}

.testimonial-image{
  transform: rotate(25deg);
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: 30px;
  ;

}
.testimonial-text{
  font-size: 3rem;
  color: white;
}
#testimonial.container-fluid{
    padding: 3% 15% 7%;
}

.btn-by{
  font-size: 12px;
  line-height: 1.5;
  font-family:  "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;


}
.button{
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  background-color: #E1853F;
  color: #fff;
  display: inline-block;


}
.carousel-control-prev{

}

/*Display prodect order*/

.imageiphone{
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.imageipad{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.btn-order{
  background: #0071e3;
  color: #fff;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  line-height: 1.5;
  font-family: "SF Pro Text" ,"SF Pro Icons", "Helvetica Neue" , "Helvetica" ,"Arial" , "sans-serif";
  border-radius: 980px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;

}
.price{
  display: inline-block;
  font-size: 1.5rem;
}
.flex-container{
  display: flex;
  background-color: white;
}

.flex-container > div {
  background-color: white;
  margin: 10px;
  padding: 10px;
  font-size:20px;
}

/*Display footer*/
#footer.p{
  text-align: center;
}
